[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
musicxmlannotations = {git = "https://github.com/ojaffe/MusicXMLAnnotations"}
scipy = "*"
matplotlib = "*"
pandas = "*"
torch = "*"
miditok = "*"
miditoolkit = "*"
pyyaml = "*"
tensorboard = "*"
einops = "*"

[dev-packages]

[requires]
python_version = "3.9"
