[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
musicxmlannotations = {git = "https://github.com/ojaffe/MusicXMLAnnotations"}
fairseq = "0.10.2"
scipy = "*"
matplotlib = "*"
pandas = "*"
torch = "*"
miditok = "1.4.3"
miditoolkit = "*"
pyyaml = "*"
tensorboard = "*"
tensorboardX = "2.2"
einops = "*"
triton=="*"


[dev-packages]

[requires]
python_version = "3.8"
